.sub-bottom-circle1{
    position: fixed;
    width:70px;
    height:70px;
    background-color: rgb(66, 37, 198);
    border-radius: 50%;
    box-shadow: -1px 10px 15px -5px rgb(12, 12, 45);
    z-index:-1;
    animation: mini;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

 
  @keyframes mini{
    0%{
        transform: scale(0,0);
        
    }
    50%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(0,0);
    }
  }



  #mini-1{
    position: fixed;
    animation: mini-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-1{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-1{
    position: fixed;
    animation: mini-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-1{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-1{
    position: fixed;
    animation: mini-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-1{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-2{
    position: fixed;
    animation: mini-2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-2{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-3{
    position: fixed;
    animation: mini-3;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-3{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }

  #mini-4{
    position: fixed;
    animation: mini-4;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-4{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-5{
    position: fixed;
    animation: mini-5;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-5{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-6{
    position: fixed;
    animation: mini-6;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-6{
    0%{
        top:900vh;
        left:900vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-7{
    position: fixed;
    animation: mini-7;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-7{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-8{
    position: fixed;
    animation: mini-8;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mini-8{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }
  #mini-9{
    position: fixed;
    animation: mini-9;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  .bottom-circle{
    position: fixed;
    bottom: 0;
    right:0;
    width:600px;
    box-shadow: -10px 25px 18px -2px rgb(35, 29, 70);
    height:600px;
    background-color: rgb(83, 45, 255);
    border-top-left-radius: 50%;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    z-index:-1;
  }
  .top-circle1{
    position: fixed;
    top: 0;
    left:0;
    width:600px;
    box-shadow: -10px 25px 18px -2px rgb(35, 29, 70);
    height:600px;
    background-color: rgb(83, 45, 255);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    z-index:-1;
  }
  .top-circle2{
    position: fixed;
    top: 0;
    left:0;
    width:700px;
    box-shadow: -10px 25px 18px -2px rgb(35, 29, 70);
    height:700px;
    background-color: rgb(87, 57, 222);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    z-index:-3;
  }
  .top-circle3{
    position: fixed;
    top: 0;
    left:0;
    width:800px;
    box-shadow: -10px 25px 18px -2px rgb(35, 29, 70);
    height:800px;
    background-color: rgb(229, 223, 255);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    z-index:-4;
  }
  
  @keyframes mini-9{
    0%{
        top:100vh;
        left:100vw;
        transform:scale(0,0);
    }
    50%{
        
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
  }


  @media screen and (max-width:800px){
    .top-circle1{
     width:20vw;
     height:20vw;
    }
    .top-circle2{
     width:30vw;
     height:30vw;
    }
    .top-circle3{
     width:50vw;
     height:50vw;
    }
    .bottom-circle{
     width:40vw;
     height:40vw;
    }
   }
   