.video-cards{
    transition: all;
    transition-duration: 100ms;
    width:320px;
    height:510px;
    margin:25px;
    border-radius: 20px;
    margin-top:30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction:column ;
    backdrop-filter: blur(80px);
    box-shadow: 1px 15px 30px -3px;
    -webkit-backdrop-filter: blur(80px);
    align-items: center;
}
#publish{
    position: relative;
    bottom: 0px;
    font-weight: 700;
    left:0px;
    color:white;
    border-radius: 30px;

}
h5{
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    width: 98%;
    box-shadow:0 5px 15px -2px black;
    font-weight: 800;
}
.Line{
    width: 120px;
    height:2px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: rgb(60, 60, 60);
    border-radius: 50px;
}
.video-cards:hover{
    cursor:pointer;
    transform:scale(1.10,1.10);
}
.video-cards > img{
    border-radius: 10px;
    margin-top:0;
}