@import url('https://fonts.cdnfonts.com/css/blanka');

body {
  margin: 0;
  font-family: "Elianto","Halogen",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right,rgb(229, 223, 255),rgb(85, 90, 175));
  
}

*{
  transition:all;
  transition-duration: 90ms ;
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  scroll-behavior: smooth;
  user-select: none;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
